@namespace Vyshyvanka.Designer.Components

@if (IsUrl(Icon))
{
    <img src="@Icon" alt="icon" class="node-icon-img" style="@GetSizeStyle()"/>
}
else if (IsFontAwesome(Icon))
{
    <i class="@Icon" style="@GetSizeStyle()"></i>
}
else
{
    <span class="node-icon-emoji" style="@GetSizeStyle()">@(string.IsNullOrEmpty(Icon) ? DefaultIcon : Icon)</span>
}


